.taxon
  %h2
    = taxon.name 
  
  %table
    %tr
      %td
        - if taxon.parent.name == "Кондиционеры"
          = image_tag "konder1.png"
      %td
        - if taxon.parent.name == "Кондиционеры"
          = render :partial => "shared/conditioners", :locals => {:products => taxon_preview(taxon, 99), :taxon => taxon}
