.taxon
  %h2= link_to taxon.name, seo_url(taxon), :class => 'breadcrumbs'
  
  %table
    %tr
      %td
        - if taxon.parent.name == "Кондиционеры"
          = image_tag "konder1.png"
      %td
        - if taxon.parent.name == "Кондиционеры"
          = render :partial => "shared/conditioners", :locals => {:products => taxon_preview(taxon), :taxon => taxon}
