- paginated_products = @searcher.products if params.key?(:keywords)
- paginated_products ||= products
- if products.empty?
  = t(:no_products_found)
- elsif params.key?(:keywords)
  %h3= t(:search_results, :keywords => h(params[:keywords]))
- if products.any?
  %table.products_table{:border => 1}
    %tr
      %td
        Марка
      %td
        Цена
    - products.each do |product|
      - if Spree::Config[:show_zero_stock_products] || product.has_stock?
        %tr
          %td
            = product.name
          %td
            = product.price

