#centerbottom{:style => "font-size:12px; width:960px;"}
  #holder2
    #midblock{:style => "width:100%;"}
      .insidem
        .yjsg-newsitems
          .yjsg-blog_f
        .clearm
= render 'shared/google_analytics'
