#top_menu{:style => "font-size:12px;"}
  #horiznav
    %ul.menunav
      %li#current.active
        - link_to root_url do
          %span Главная
      %li.haschild
        %a.haschild{:href => "#"}
          %span Каталог
        %ul{:style => "overflow: hidden; visibility: hidden; opacity: 0; height: 0px;"}
          - get_taxonomies.each do |taxonomy|
            - root_taxon = taxonomy.root
            %li
              - link_to "/t/#{root_taxon.permalink}" do
                %span
                  = root_taxon.name
      %li
        = link_to contacts_path do
          %span Контакты

