!!!
%html{:lang => "ru-ru", "xml:lang" => "ru-ru", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{:content => "joomla, Joomla", :name => "keywords"}/
    %meta{:content => "Joomla! - the dynamic portal engine and content management system", :name => "description"}/
    %meta{:content => "Joomla! 1.5 - Open Source Content Management", :name => "generator"}/
    %title ООО "ЛидерСтрой"
    %link{:href => "stylesheets/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/mootools.js", :type => "text/javascript"}
    %script{:src => "javascripts/caption.js", :type => "text/javascript"}
    %link{:href => "stylesheets/template.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/blue.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/mouseover.js", :type => "text/javascript"}
    :css
      div.title h1,div.title h2,div.componentheading, h1,h2,h3,h4,h5,h6,.yjround h4,.yjsquare h4, .yjnewsflash_title {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
      }
  %body#stylef6{:style => "background-color: rgb(238, 238, 238); background-image: url('/images/light/bg_gray.jpg'); color: rgb(85, 85, 85);"}
    #sitehold{:style => "font-size:12px; width:960px;"}
      #centertop{:style => "font-size:12px; width:960px;"}
        / header
        #header{:style => "height:70px;"}
          / end logo
          #yjsgheadergrid{:style => "width:73.5%;"}
            / top menu
            #top_menu{:style => "font-size:12px;"}
              #horiznav
                %ul.menunav
                  %li#current.active
                    %a{:href => "http://oooliderstroy.ru/"}
                      %span Главная
                  %li.haschild
                    %a.haschild{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=frontpage&amp;Itemid=120"}
                      %span Каталог
                    %ul{:style => "overflow: hidden; visibility: hidden; opacity: 0; height: 0px;"}
                      %li
                        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"}
                          %span Кондиционеры
                      %li
                        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=126"}
                          %span Теплоизоляция
                      %li
                        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"}
                          %span ЦСП
                      %li
                        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"}
                          %span Пенополистирол
                      %li
                        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"}
                          %span Электроды
                  %li
                    %a{:href => "http://oooliderstroy.ru/index.php?option=com_content&amp;view=article&amp;id=72&amp;Itemid=121"}
                      %span Контакты
                  %li.haschild
                    %a.haschild{:href => "#"}
                      %span Стили дизайна
                    %ul{:style => "overflow: hidden; visibility: hidden; opacity: 0; height: 0px;"}
                      %li
                        %a{:href => "http://oooliderstroy.ru/?change_css=blue"}
                          %span Голубой
                      %li
                        %a{:href => "http://oooliderstroy.ru/?change_css=red"}
                          %span Красный
                      %li
                        %a{:href => "http://oooliderstroy.ru/?change_css=lime"}
                          %span Лимонный
                      %li.haschild
                        %a.child{:href => "#"}
                          %span Фон
                        %ul{:style => "overflow: hidden; visibility: hidden; opacity: 0; height: 0px;"}
                          %li
                            %a{:href => "http://oooliderstroy.ru/?change_bg=dark"}
                              %span Тёмный
                          %li
                            %a{:href => "http://oooliderstroy.ru/?change_bg=light"}
                              %span Светлый
            / end top menu
        / end header
        #yjsg2.Mozaic
          #yjsg2_inside
            #adv1.yjsgxhtml{:style => "width:100.00%;"}
              .yjsquare_mozslider
                .yjsquare_in
                  .top_image
                #MozaicNav{:style => "width:960px;"}
                  %ul#MozaicNavigation
                    %li
                      %a.selected{:href => "#"}
                        / empty
                    %li
                      %a{:href => "#"}
                        / empty
                    %li
                      %a{:href => "#"}
                        / empty
                    %li
                      %a{:href => "#"}
                        / empty
                / http://www.Youjoomla.com  Mozaic News Slider for Joomla 1.5 ends here
      #yjsg3
        #user1.yjsgxhtml{:style => "width:20%;"}
          .yjsquare_yjnf3
            .yjsquare_in
              .yjnewsflash
                .nfimgpos
                  %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"}
                    %img{:align => "top", :border => "0", :height => "96px", :src => "images/kond_title_smal.jpg", :title => "Кондиционеры", :width => "180px"}/
                .yjnf_descr
                  %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Кондиционеры
                .yjnf_descr
                  %p Компактный корпус, стильный дизайн украсят интерьер Вашего помещения.
                %span.yjnsreadon
                  %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Подробнее
        #user2.yjsgxhtml{:style => "width:20%;"}
          .yjsquare_yjnf3
            .yjsquare_in
              .yjnewsflash
                .nfimgpos
                  %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"}
                    %img{:align => "top", :border => "0", :height => "96px", :src => "images/isoroc.jpg", :title => "Кондиционеры", :width => "180px"}/
                .yjnf_descr
                  %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Теплоизоляция
                .yjnf_descr
                  %p Теплоизоляция ISOROC (ИЗОРОК) производится из горных пород габбро-базальтового типа и их аналогов.
                %span.yjnsreadon
                  %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Подробнее
        #user3.yjsgxhtml{:style => "width:20%;"}
          .yjsquare_yjnf3
            .yjsquare_in
              .yjnewsflash
                .nfimgpos
                  %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"}
                    %img{:align => "top", :border => "0", :height => "96px", :src => "images/tamak.jpg", :title => "Цементно-стружечные плиты", :width => "180px"}/
                .yjnf_descr
                  %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"} ЦСП
                .yjnf_descr
                  %p Цементно-стружечные плиты, известные на рынке под торговой маркой ЦСП ТАМАК, принадлежат к новому поколению строительных материалов.
                %span.yjnsreadon
                  %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"} Подробнее
        #user4.yjsgxhtml{:style => "width:20%;"}
          .yjsquare_yjnf3
            .yjsquare_in
              .yjnewsflash
                .nfimgpos
                  %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"}
                    %img{:align => "top", :border => "0", :height => "96px", :src => "images/photos0-800x600.jpeg", :title => "Пенополистирол", :width => "180px"}/
                .yjnf_descr
                  %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"} Пенополистирол
                .yjnf_descr
                  %p Применение вспененного пенополистирола в строительстве регламентирует ГОСТ 15588-86, который предписывает использовать вспененный пенополистирол как «в качестве среднего слоя строительной ограждающей конструкции».
                %span.yjnsreadon
                  %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"} Подробнее
        #user5.yjsgxhtml{:style => "width:20%;"}
          .yjsquare_yjnf3
            .yjsquare_in
              .yjnewsflash
                .nfimgpos
                  %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"}
                    %img{:align => "top", :border => "0", :height => "96px", :src => "images/646432_w640_h640_bolshaya_upakovka.jpg", :title => "Электроды", :width => "180px"}/
                .yjnf_descr
                  %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"} Электроды
                .yjnf_descr
                  %p ЛЭЗ – крупнейший российский производитель сварочных электродов, который уже 65 лет выпускает самые разнообразные электроды для сварки.
                %span.yjnsreadon
                  %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"} Подробнее
    / end centartop
    #centerbottom{:style => "font-size:12px; width:960px;"}
      / MAIN LAYOUT HOLDER
      #holder2
        / messages
        / end messages
        / MID BLOCK
        #midblock{:style => "width:100%;"}
          .insidem
            / component
            .yjsg-newsitems
              .yjsg-blog_f
            / end component
            .clearm
          / end mid block insidem class
        / end mid block div
      / end holder div
    / end centerbottom
    / end sitehold
    / noscript notice
    %noscript
      %p.nonscript{:style => "text-align:center"} Your browser does not support JavaScript! Please enable it for maximum experience. Thank you.
    / end noscript notice
