.width50
  .teaser-item
    %h2.pos-title
      = link_to block_product.name, block_product
    .pos-description
      .element.element-textarea.first.last
        %div
          %p
            = small_image(block_product, :style => "float: left;")
          %h3 GC-S05CRI
          %table.listParam{:border => "0"}
            %tbody
              %tr
                %td Производительность охлаждения
                %td 1.50 кВт
              %tr
                %td Уровень шума
                %td 34/31/28 ДБ
              %tr
                %td Циркуляция воздуха
                %td 310 м³/ч
    %p.pos-links
      %span.element.element-itemlink.first.last
        %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;task=item&amp;item_id=1&amp;category_id=1&amp;Itemid=122"} Подробнее...

