#yjsg2.Mozaic
  #yjsg2_inside
    #adv1.yjsgxhtml{:style => "width:100.00%;"}
      .yjsquare_mozslider
        .yjsquare_in
          .top_image
        #MozaicNav{:style => "width:960px;"}
          %ul#MozaicNavigation
            %li
              %a.selected{:href => "#"}
                / empty
            %li
              %a{:href => "#"}
                / empty
            %li
              %a{:href => "#"}
                / empty
            %li
              %a{:href => "#"}
                / empty
        / http://www.Youjoomla.com  Mozaic News Slider for Joomla 1.5 ends here
#yjsg3
#user1.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"}
            %img{:align => "top", :border => "0", :height => "96px", :src => "images/kond_title_smal.jpg", :title => "Кондиционеры", :width => "180px"}/
        .yjnf_descr
          %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Кондиционеры
        .yjnf_descr
          %p Компактный корпус, стильный дизайн украсят интерьер Вашего помещения.
        %span.yjnsreadon
          %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Подробнее
#user2.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"}
            %img{:align => "top", :border => "0", :height => "96px", :src => "images/isoroc.jpg", :title => "Кондиционеры", :width => "180px"}/
        .yjnf_descr
          %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Теплоизоляция
        .yjnf_descr
          %p Теплоизоляция ISOROC (ИЗОРОК) производится из горных пород габбро-базальтового типа и их аналогов.
        %span.yjnsreadon
          %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=122"} Подробнее
#user3.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"}
            %img{:align => "top", :border => "0", :height => "96px", :src => "images/tamak.jpg", :title => "Цементно-стружечные плиты", :width => "180px"}/
        .yjnf_descr
          %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"} ЦСП
        .yjnf_descr
          %p Цементно-стружечные плиты, известные на рынке под торговой маркой ЦСП ТАМАК, принадлежат к новому поколению строительных материалов.
        %span.yjnsreadon
          %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=124"} Подробнее
#user4.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"}
            %img{:align => "top", :border => "0", :height => "96px", :src => "images/photos0-800x600.jpeg", :title => "Пенополистирол", :width => "180px"}/
        .yjnf_descr
          %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"} Пенополистирол
        .yjnf_descr
          %p Применение вспененного пенополистирола в строительстве регламентирует ГОСТ 15588-86, который предписывает использовать вспененный пенополистирол как «в качестве среднего слоя строительной ограждающей конструкции».
        %span.yjnsreadon
          %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=125"} Подробнее
#user5.yjsgxhtml{:style => "width:20%;"}
  .yjsquare_yjnf3
    .yjsquare_in
      .yjnewsflash
        .nfimgpos
          %a{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"}
            %img{:align => "top", :border => "0", :height => "96px", :src => "images/646432_w640_h640_bolshaya_upakovka.jpg", :title => "Электроды", :width => "180px"}/
        .yjnf_descr
          %a.yjnewsflash_title{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"} Электроды
        .yjnf_descr
          %p ЛЭЗ – крупнейший российский производитель сварочных электродов, который уже 65 лет выпускает самые разнообразные электроды для сварки.
        %span.yjnsreadon
          %a.yjns_rm{:href => "http://oooliderstroy.ru/index.php?option=com_zoo&amp;view=category&amp;Itemid=123"} Подробнее

