!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = render :partial => 'shared/head'
  %body#stylef6{:style => "background-color: #b1b1b1;"}
    #sitehold{:style => "font-size:12px; width:960px;"}
      #centertop{:style => "font-size:12px; width:960px;"}
        / header
        #header{:style => "height:70px;"}
          / end logo
          #yjsgheadergrid{:style => "width:73.5%;"}
            = render :partial => "shared/main_navigation"
      = yield
